@page
@model NY2023.Pages.Leder.EditModel
@{
}

<br>
<h2>Liste af Ledere</h2>

@if (Model.errorMessage.Length > 0)
{
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ID" value="@Model.lederInfo.id">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Børnegruppe-ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="børnegruppe_id" value="@Model.lederInfo.børnegruppe_id">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Navn</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="navn" value="@Model.lederInfo.navn">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.lederInfo.email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefonnummer</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefonnummer" value="@Model.lederInfo.telefonnummer">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Bekræft</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Annullerer</a>
        </div>
    </div>
</form>